@font-face {
  font-family: 'DymaxionScript';
  src: local("DymaxionScript"), url("https://nomail.com.ua/files/woff/f8944e1a26f45ff1faf1ce1c3a2b04e4.woff") format("woff"); }

body {
  font-family: DymaxionScript;
  background: orange; }
