@font-face { font-family: 'FeltTipWoman';  src: local('FeltTipWoman'), url('https://nomail.com.ua/files/woff/d5c06ac68b9323f775a94c311b12bc15.woff') format('woff'); }

@font-face { font-family: 'NexaBold';  src: local('NexaBold'), url('https://nomail.com.ua/files/woff/c9f309b3d47969ecac64a77a6c672594.woff') format('woff'); }

@font-face { font-family: 'NexaLight';  src: local('NexaLight'), url('https://nomail.com.ua/files/woff/12108809f49c49bcdc126dcecc938761.woff') format('woff'); }

